<form action="" method="post">
  
  <input type="text" name="nom" id="nom">
  <input type="number" name="qte" id="qte">
  <input type="text" name="desc" id="desc">
  <button type="submit" name="submit" id="submit">

</form>